body{
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
}
.panel{
	width:100vw;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
}
.question-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	font-size: x-large;
	background-color: blueviolet;
	border-radius: 15px;
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #9eb1b3;
	border-radius: 15px;
}
.option{
	margin: 10px;
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	border-radius: 15%;
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color:#c7dddf;
	border-radius: 15px;
}
.evaluate,.next{
	padding: 5px;
	width:30vw;
	height: 8vh;
	font-size: larger;
}
.evaluate{
	display: block;
	color: black;
	background-color: #e9ec0b;
	border-radius: 15px;
}
.next{
	display: block;
	color: white;
	background-color: #1f1cd3;
	border-radius: 15px;
}

#result-content {
	background-color: white;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

#result-content h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

#result-content p {
	font-size: 20px;
	margin-bottom: 10px;
}

#result-content span {
	font-weight: bold;
}

#restart-btn,
#close-btn {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
}

#restart-btn {
	background-color: green;
	color: white;
	margin-right: 10px;
}

#close-btn {
	background-color: red;
	color: white;
}
